<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="0" comments="Sympton Types" colour="primary" type="stethoscope"></stats>
        <stats number="0" comments="Users" colour="yellow" type="user-md"></stats>
        <stats number="0" comments="Symptons" colour="red" type="heartbeat"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <timeline></timeline>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications> 
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <chat></chat>
             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
